@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web&display=swap');

:root {
    --gray: #5d5d5d;
    --dark-blue: #06668d;
    --dirty-white: #ebf2fa;
    --lighter-blue: #427aa1;
    --font-extra-small: 0.75rem;
    --font-small: 1.5rem;
    --font-medium: 2rem;
    --font-big: 3rem;
    --font-extra-big: 5rem;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
}

h1 {
    letter-spacing: 0.1rem;
    font-family: 'Bebas Neue', cursive;
    color: var(--dark-blue);
}

h2 {
    color: var(--dirty-white);
    letter-spacing: 0.1rem;
    font-family: 'Titillium Web', sans-serif;
    font-size: var(--font-small);
}

h3 {
    letter-spacing: 0.05rem;
}

img {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

.navbar {
    background-color: var(--dark-blue);
}

.navbar-light .navbar-nav .nav-link{
    color: var(--dirty-white);
}

.navbar-brand {
    text-transform: uppercase;
    margin-left: 0.5rem;
}

#navbarNav {
    justify-content: flex-end;
    margin-right: 10%;
}

.nav-item {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-item:not(:last-child) {
    margin-right: 5%;
}

.navbar-collapse {
    padding-left: 1rem;
}

.header{
    position: relative;
    height: 32rem;
    background-color: var(--dirty-white); 
    padding: 4rem;
    display: flex;
    align-items: center;
}

.title {
    margin-left: 5vw;
}

.title h1 {
    font-size: var(--font-extra-big);
}

.title-text {
    width: 40vw;
    color: var(--gray);
    line-height: 1.75rem;
}

.btn-primary {
    background-color: var(--dark-blue);
    border-radius: 1vw;
}

.btn-primary:active, .reservation {
    background-color: var(--dirty-white);
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
}

.header img {
    position: relative;
    width: 40vw;
    top: 4rem;
    margin-left: 2vw;
}

.title-buttons {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.inflatables {
    margin-right: 2vw;
}

.main {
    padding: 4rem;
    padding-top: 10rem;
    color: var(--dark-blue);
}

.main h1 {
    font-size: var(--font-big);
    text-align: center;
    margin-bottom: 2rem;
}

.carousel-inner img {
    margin: auto;
  }

.carousel-control-next-icon, .carousel-control-prev-icon, .carousel-control-next-icon-main, .carousel-control-prev-icon-main {
    filter: invert(24%) sepia(86%) saturate(1449%) hue-rotate(172deg) brightness(93%) contrast(95%);
}

.carousel-description {
    color: var(--gray);
    text-align: center;
    width: 65vw;
    margin: 3rem auto;
    line-height: 1.75rem;
}

.features {
    margin-top: 7rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.feature img {
    width: 4vw;
    max-height: 4rem;
    min-width: 2.25rem;
}

.feature-title {
    font-size: var(--font-medium);
    font-family: 'Bebas Neue', cursive;
    padding: 1rem 0;
    letter-spacing: 0.1rem;
}

.feature-description {
    width: 15vw;
}

.yt-video {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.store {
    margin-top: 4rem;
    text-align: center;
    color: var(--gray);
}

.store-text {
    margin-bottom: 3rem;
}

.footer {
    background-color: var(--lighter-blue);
    padding: 2rem;
}

.footer-right, .footer-left {
    padding-top: 2rem;
    text-align: center;
}



.footer-links, .footer-information {
    margin-top: 2rem;
}

.footer a, .footer-information {
    color: var(--dirty-white);
    line-height: 200%;
}

.footer a, .footer a:link, .footer a:visited , .footer a:hover, .footer a:active {
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--gray);
}

.footer-icons {
    margin-top: 1rem;
}

.footer-icons a:not(:last-child) {
    margin-right: 1rem;
}

.footer-icons a:hover {
    filter: invert(34%) sepia(0%) saturate(0%) hue-rotate(30deg) brightness(104%) contrast(90%);
}

.copyright {
    text-align: center;
    color: var(--gray);
}

.questions-title {
    text-align: center;
    padding: 4rem 0 0 0;
}

.questions {
    width: 50vw;
    margin: 1rem auto 4rem auto
}

.accordion-header button{
    font-size: var(--font-small);
    color: var(--dark-blue);
}

.accordion-body {
    color: var(--gray);
}

.inflatable-content {
    text-align: center;
    margin-top: 3rem;
    padding: 0 2rem ;
}

.inflatable-content h3 {
    margin-top: 2rem;
    color: var(--dark-blue);
    font-family: 'Bebas Neue', cursive;
}

.inflatable-title {
    font-size: 3.5rem;
}


.inflatable-dimensions {
    margin-bottom: 2rem;
}

.inflatable-info {
    margin-bottom: 3rem;
}

.w-50 {
    width: 65%!important;
    height: auto;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev {
    left: 0;
}

.inflatable-buy {
    margin-top: 2rem;
}

.catalog {
    margin: auto;
    width: 80vw;
}

.catalog h1 {
    font-size: var(--font-big);
}

.catalog-contact-us {
    color: red;
    margin-bottom: 2rem;
}

.catalog-description h1 {
    font-size: var(--font-medium);
}

.catalog-item {
    display: flex;
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}

.catalog-item:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    transition: box-shadow 0.4s;
}

.catalog-description {
    padding-left: 3rem;
    width: 50%;
    height: 100%;
}

.catalog-short-description {
    margin-bottom: 1rem;
}

.catalog-item-btn a {
    padding: 0.5rem 1.5rem;
}

.catalog-img {
    width: 50%;
}

.catalog-img img {
    width: 100%;
}

.catalog>h1 {
    padding-top: 2rem;
}

hr:last-child {
    display: none;
}

.rental {
    padding: 2rem 6rem;
}

.rental .carousel {
    margin-top: 3rem;
}

.rental-cards {
    display: grid;
    margin: 6rem 0 2rem 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    color: var(--dark-blue);
}

.rental-dimensions {
    grid-row: 1;
    grid-column: 1;
}

.rental-comfort {
    grid-row: 1;
    grid-column: 2;
}

.rental-fconsumption {
    grid-row: 1;
    grid-column: 3;
}

.rental-chauffer {
    grid-row: 1;
    grid-column: 4;
}

.rental h2 {
    color: var(--dark-blue);
    letter-spacing: 0.01rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.rental-card h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.rental-card li {
    text-align: left;
}

.rental-card {
    text-align: center;

}

.rental-img {
    text-align: center;
    margin-bottom: 1rem;
}

.rental-card img {
    filter: invert(16%) sepia(97%) saturate(3320%) hue-rotate(183deg) brightness(93%) contrast(95%);
    height: 5%;
    max-height: 5rem;
    min-width: 2.25rem;
}

.rental a {
    text-decoration: underline;
}

.contact-us {
    padding: 4rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-us-info>h1{
    font-size: var(--font-big);
}

.contact-us-info {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    align-items: center;
}

.contact-us-info p {
    margin-bottom: 0;
}

.contact-us-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inflatable-preview-img {
    width: 75%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
}

.inflatable-preview-description {
    text-align: center;
}

.inflatable-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inflatable-preview-description .inflatable-title {
    font-size: var(--font-medium);
}

.mail-form {
    margin-top: 1rem;
}

.mail-form form {
    display: flex;
    flex-direction: column;
}

.mail-form input, .mail-form select {
    margin-bottom: 1rem;
}

[name="email"], [name="inflatable"], [name="name"] {
    width: 75%;
    margin: auto;
    padding: 0.5rem;
}

.mail-form button {
    width: 35%;
    margin: auto;
    margin-top: 1rem;
}

[name="message"] {
    width: 75%;
    height: 5rem;
    margin: auto;
    padding: 0.5rem;
    resize: none
}

.disclaimer {
    padding: 2rem 6rem;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disclaimer h2 {
    color: var(--dark-blue);
    letter-spacing: unset;
    margin-top: 2rem;
}

.disclaimer li {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.number {
    margin: auto;
    width: 80vw;
    margin-bottom: 2rem;
}

.number img {
    width: 100%;
}

@media only screen and (min-width: 1441px) and (max-width: 2561px) {
    .main{
        padding-top: 6rem;
    }

    .features {
        margin-top: 4rem;
    }

    .title-buttons {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 2000px) {
    .title {
        margin-left: 8vw;
    }

    .header img {
        top: 4rem;
        width: 30vw;
        margin-left: 4rem;
        max-width: 700px;
    }

    .inflatable-dimensions, .inflatable-description, .inflatable-info {
        font-size: 1.75rem;
    }

    .inflatable-content h3 {
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    .catalog h1 {
        font-size: 4rem;
    }

    .catalog-description h1 {
        font-size: var(--font-big);
    }
    
    .catalog-contact-us, .catalog-short-description, .catalog-description ul, .catalog-item-btn a, .carousel-description, .feature-description, .store-text {
        font-size: var(--font-small);

    }

    .rental-card li {
        margin-left: 8rem;
    }

    .header {
        height: 38rem;
    }

    .title-text {
        font-size: var(--font-small);
        line-height: 2.75rem;
    }

    .feature img {
        max-height: 8rem;
    }
    
}

@media only screen and (max-width: 1545px) {
    .catalog-contact-us, .catalog>h1  {
        text-align: center;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1441x) {
    .header {
        height: 25rem;
        padding-top: 0;
    }

    .title {
        margin-top: 4rem;
    }

    .title h1 {
        font-size: var(--font-big);
    }

    .main {
        padding-top: 4rem;
    }

    .btn-group-lg>.btn, .btn-lg {
        font-size: 1rem;
    }

    .feature-title {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 1231px) {
    .title h1 {
        font-size: var(--font-big);
    }
}

@media only screen and (max-width: 1025px) {
    .header {
        padding: 2rem;
        align-items: unset;
    }
    
    .title {
        width: 80vw;
        position: absolute;
        bottom: 7%;
        left: 50%;
        text-align: center; 
        transform: translateX(-50%);
        margin-left: 0;  
    }
    
    .header img {
        max-width: 350px;
        min-width: 250px;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
    }

    .title-text {
        width: 100%;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

    .title h1 {
        font-size: var(--font-medium);
    }

    .btn-group-lg>.btn, .btn-lg {
        font-size: 1rem;
    }

    .main {
        padding: 0;
        padding-top: 4rem;        
    }

    .main h1 {
        font-size: var(--font-medium);
    }

    .carousel-description {
        font-size: 0.75rem;
        line-height: 0.75rem;
    }

    .features {
        margin-top: 4rem;
    }

    .feature {
        text-align: center;
    }

    .feature-title {
        font-size: var(--font-medium);
    }

    .feature-description {
        font-size: var(--font-extra-small);
        margin: auto;
        width: 40vw;
    }

    .feature img {
        width: 6rem;
    }

    .store {
        margin-bottom: 2rem;
    }

    .store-text {
        font-size: 0.75rem;
    }
    .footer {
        font-size: 0.75rem;
    }

    .questions {
        width: 80vw;
    }

    .catalog {
        margin: unset;
    }

    .catalog-item, .catalog{
        width: 100vw;
    }

    .catalog-item {
        border-radius: unset;
    }

    .rental-cards {
        grid-template-columns: 1fr 1fr;
    }

    .rental-dimensions {
        grid-row: 1;
        grid-column: 1;
    }
    
    .rental-comfort {
        grid-row: 1;
        grid-column: 2;
    }
    
    .rental-fconsumption {
        grid-row: 2;
        grid-column: 1;
    }
    
    .rental-chauffer {
        grid-row: 2;
        grid-column: 2;
    }

    .rental p, .rental h1 {
        text-align: center;
    }

    .rental-card li {
        margin-left: 2rem;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 3rem;
    }

    .quality {
        grid-row: 1;
        grid-column: 1;
    }

    .delivery {
        grid-row: 1;
        grid-column: 2;
    }

    .variety {
        grid-row: 2;
        grid-column: 1;
    }

    .cheap {
        grid-row: 2;
        grid-column: 2;
    }

    .contact-us {
        grid-template-columns: 1fr;
    }
    
    .contact-us-wrapper {
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-nav {
        align-items: center;
    }

    .nav-item {
        margin-right: 0!important;
    }

    .rental-cards {
        column-gap: 2rem;
    }

    .rental {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .rental h1, .rental h2 {
        text-align: center;
    }

    .rental h2 {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        letter-spacing: 0;
    }

    .catalog-item {
        flex-direction: column;
        padding: 2rem 0;
        margin-bottom: 0;
    }
    .catalog-img, .catalog-description {
        width: 100%;
    }

    .catalog-description {
        padding-left: 0;
    }

    .catalog-item-btn a {
        width: 100%;
        border-radius: unset;
    }

    .catalog-description-container h1 {
        text-align: center;
        margin-top: 1rem;
        font-size: 1.25rem;
    }

    .catalog-characteristics {
        padding-left: 1rem;
    }

    .catalog-contact-us {
        padding: 0 1rem;
        margin-bottom: 1rem;
    }
    
    .catalog-short-description, .catalog-description-container h1 {
        padding: 0 2rem;
    }

    .catalog>h1 {
        font-size: var(--font-medium);
    }

    .rental-cards {
        grid-template-columns: 1fr;
        margin-top: 4rem;
    }

    .rental-card {
        justify-items: center;
        row-gap: 3rem;
    }

    .rental-dimensions {
        grid-row: 1;
        grid-column: 1;
    }
    
    .rental-comfort {
        grid-row: 2;
        grid-column: 1;
    }
    
    .rental-fconsumption {
        grid-row: 3;
        grid-column: 1;
    }
    
    .rental-chauffer {
        grid-row: 4;
        grid-column: 1;
    }

    .rental-card img {
        max-height: 3rem;
    }

    .rental h2 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 769px) {
    [name="email"], [name="inflatable"], [name="name"], [name="message"], #inflatable-preview-img {
        width: 100%;
    }

    .contact-us {
        padding: 4rem;
    }

    .disclaimer {
        padding: 2rem;
    }
}

@media only screen and (max-width: 426px) {
    .header {
        padding: 0;
        height: 33rem;
    }

    .header img {
        width: 270px;
        min-width: 200px;
    }

    .feature-title {
        font-size: var(--font-small);
        padding: 0.25rem;
        letter-spacing: 0;
    }

    .feature img {
        width: 14vw;

    }

    .title-text {
        line-height: unset;
    }

    .title {
        bottom: 10%;
    }

    .feature-description {
        font-size: var(--font-extra-small );
        width: unset;
    }

    .main {
        padding: 2rem;
    }

    .main h1 {
        font-size: var(--font-small);
    }

    .yt-video {
        margin-top: 4rem;
    }
    iframe {
        height: 15rem;
    }

    .carousel-control-next {
        right: -7vw;
    }
  
    .carousel-control-prev{
        left: -7vw;
    }

    .carousel-control-next.reset-right {
        right: 0;
    }

    .carousel-control-prev.reset-left {
        left: 0;
    }

    .w-50 {
        width: 80vw!important;
    }

    .store-text {
        margin-bottom: 1.5rem;
    }

    .carousel-description {
        width: 80vw;
        line-height: unset;
    }

    .accordion button, .accordion-body {
        font-size: 0.9rem;
    }

    .inflatable-title {
        font-size: 2.5rem;
    }

    .rental-cards {
        font-size: 0.75rem;
    }

    .rental-card li {
         margin-left: 4rem;
    }

    .features {
        display: grid;
        grid-template-columns: 0.125fr 1fr 0.125fr;
        row-gap: 2rem;
        margin-top: 0;
    }

    .quality {
        grid-row: 1;
        grid-column: 2;
    }

    .delivery {
        grid-row: 2;
        grid-column: 2;
    }

    .variety {
        grid-row: 3;
        grid-column: 2;
    }

    .cheap {
        grid-row: 4;
        grid-column: 2;
    }

    .navbar-brand {
        margin-left: 0;
    }

    .copyright {
        font-size: 0.75rem;
    }

    .contact-us {
        padding: 2rem;
    }

    .contact-us-info{
        align-items: unset;
    }

    .contact-us-info>h1 {
        font-size: var(--font-medium);
    }

    .disclaimer li {
        margin-left: 0;
    }

    .mail-form button{
        width: 50%;
    }

    .questions-title {
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 376px) {
    .rental-card li {
        margin-left: 2rem;
    }

    .carousel-description {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 362px) {
    .header {
        height: 27rem;
    }

    .header img {
        max-width: 150px;
        top: 7%;
    }

    .btn-group-lg>.btn, .btn-lg {
        font-size: 0.75rem;
    }

    .title {
        bottom: 5%;
    }

    .title h1 {
        font-size: var(--font-small);
    }

    .copyright {
        font-size: 0.75rem;
    }

    .footer-icons img {
        width: 20%;
    }
}

@media only screen and (max-width: 321px) {
    .rental-card li {
        margin-left: 1rem;
    }
}